Archive/
ML_Regression/
bikeshare_2023.csv
_bikeshare_2023_cap_x_bal_ML_52wks.ipynb
_bikeshare_2023_cap_x_bal_ML.ipynb
_bikeshare_2023_cap_x_bal.ipynb
CBS_2021-2023_Full.csv
_bikeshare_2023_agg_week&station.csv
building2.png
capacity_data.csv
leisure.csv
leisure.png
metro_icon.png
Metro_Stations_Regional.csv
metrorail.csv
offices.csv
residential.csv
residential.png
venues.csv
venues.png